* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}


/*.cursor {
   Add a pointer when hovering over the thumbnail images
  cursor: pointer;
}*/

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* five columns side by side */
.column {
  float: left;
  width: 20%;
  flex-grow: 1;
}

/* Add a transparency effect for thumnbail images
.demo {
  opacity: 0.6;
}*/

.active,
.demo:hover {
  opacity: 0.6;
}
/* The Modal (background) */
.modal {
  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* overflow: auto; Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.noModal {
  display:none;
}

/* Modal Content/Box */
.modal-content {
  border-radius: 25px;
  background-color: #fefefe;
  margin: auto; /* 15% from the top and centered */
  width: 60%; /* Could be more or less, depending on screen size */
  height: 60%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-column-left {
  display: flex;
  float: left;
  height: 100%;
  width: 67%;
  background-color: black;
}

.modal-column-left-main {
  margin: auto;
}

.modal-column-left-info {
  background-color: red;
}

.modal-column-right{
  float: right;
  height: 100%;
  width: 33%;
  background-color: white;
}

.modal-column-right-header {
  margin: auto;
  padding: 15px;
}

.modal-column-right-flexcontainer {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 80%;
  padding: 10px;
}
