* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}


/*.cursor {
   Add a pointer when hovering over the thumbnail images
  cursor: pointer;
}*/

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* five columns side by side */
.column {
  float: left;
  width: 20%;
  flex-grow: 1;
  padding: 1px;
}

/* Add a transparency effect for thumnbail images
.demo {
  opacity: 0.6;
}*/

.active,
.demo:hover {
  opacity: 0.6;
}
/* The Modal (background) */
.modal {
  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* overflow: auto; Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.noModal {
  display:none;
}

/* Modal Content/Box */
.modal-content {
/*
border-radius: 25px;
  background-color: #fefefe;
  margin: auto;
  width: 60%;
  height: 60%;
  display: flex;
  */

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #fefefe;
  margin: auto;
  width: 60%;
  height: 60%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-column-left {
  /*
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  float: left;
  height: 100%;
  width: 67%;
  background-color: black;
  align-content: stretch;
  */

  /*flex item properties*/
  order: 0;
  flex: 3 1 auto;
  align-self: stretch;
  background-color: black;

  /*flex container properties*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;

}

.modal-column-left-main {
  /*
  margin: auto;
  display: inline-block;
  */

  /*flex item properties*/
  order: 1;
  flex: 2 1 auto;
  align-self: stretch;

  /*container properties*/
  position: relative;
  text-align: center;
  color: white;
}

.modal-column-left-main-photo {
  height: 100%;
  width: 100%;
}

.modal-column-left-main-info {
  /*block item properties*/
  position: absolute;
  width: 100%;
  bottom: 0px;
  color: white;
  background-color: rgba(0,0,0,0.4);

  /*flex container properties*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.modal-column-left-prev {
  /*flex item properties*/
  order: 0;
  flex: 1 1 auto;
  align-self: stretch;
  background-color: black;
  color: white;

  /*flex container properties*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.modal-column-left-next {
  /*flex item properties*/
  order: 2;
  flex: 1 1 auto;
  align-self: stretch;
  background-color: black;
  color: white;

  /*flex container properties*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}



.modal-column-left-info-upper {
  /*flex item properties*/
  order: 0;
  flex: 1 1 auto;
  align-self: stretch;

  /*flex container properties*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}
.modal-column-left-info-upper-description {
  /*flex properties*/
  order: 0;
  flex: 1 1 auto;
  align-self: stretch;
}

.modal-column-left-info-upper-date {
  /*flex item properties*/
  order: 0;
  flex: 1 1 auto;
  align-self: stretch;
}

.modal-column-left-info-lower {
  /*flex item properties*/
  order: 0;
  flex: 1 1 auto;
  align-self: stretch;

  /*flex container properties*/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  padding: 10px;

}

.modal-column-left-info-lower-user {
  /*flex item properties*/
  order: 0;
  flex: 0 0 auto;
  align-self: stretch;

  /*flex container properties*/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}

.modal-column-left-info-lower-user-avatar {
  /*flex item properties*/
  order: 0;
  flex: 0 1 auto;
  align-self: stretch;

  /*flex container properties*/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 10%;
}

.modal-column-left-info-lower-user-stats {
  /*flex item properties*/
  order: 0;
  flex: 2 1 auto;
  align-self: stretch;

  /*flex container properties*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

.modal-column-left-info-lower-user-stats-username {
  /*flex item properties*/
  order: 0;
  flex: 1 1 auto;
  align-self: stretch;
}

.modal-column-left-info-lower-user-stats-icons {
  /*flex item properties*/
  order: 0;
  flex: 1 1 auto;
  align-self: flex-start;
}

.modal-column-left-info-lower-user-stats-elite {
  /*flex item properties*/
  order: 0;
  flex: 1 1 auto;
  align-self: flex-start;
}


.modal-column-left-info-lower-share-report {
  /*flex item properties*/
  order: 0;
  flex: 0 1 auto;
  align-self: stretch;

  /*flex container properties*/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.modal-column-left-info-lower-helpful-nothelpful {
  /*flex item properties*/
  order: 0;
  flex: 0 1 auto;
  align-self: stretch;

  /*flex container properties*/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}



.modal-column-right{
  /*flex item properties*/

  /*flex container properties*/

}



.modal-column-right-header {
  margin: auto;
  padding: 10%x;
}

.modal-column-right-flexcontainer {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 80%;
  padding: 5%;
}
